@charset UTF-8;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'android' ;
    src: url(../fontes/idroid.otf) format('opentype');
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#ddebc5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c3d;
    --cor5:#063d1e;

    --font-padrao: arial, verdana, times;
    --font-destaque:'bebas neue', arial, sans-serif;
    --font-androi:'android';
}

a.externo::after{
    content: '\00a0\1f517';
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cor0);
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    
}
header>h1{
    font-family: var(--font-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    font-weight: normal;
}
header p{
    color: white;
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding:  0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.247);

}

nav{
    background-color: var(--cor4);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.144);
    padding: 10px;
    padding-bottom: 15px;
    
    
    
}
nav a{
    font-family: var(--font-destaque);
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.5em;
    
    
    
}
nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 10px;
    
    
    

}


main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}
main p{
    text-align: justify;
    line-height: 1.5em;
    text-indent: 2em;
    font-size: 1em;
    margin: 15px 0px;
    
}
main strong{
    font-weight: bolder;
    color: var(--cor4);
}
main a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;

}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;

    position: relative;
    
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   
}

main h1{
    color: var(--cor5);
    font-family:var(--font-androi);
    font-weight: normal;
}
main h2{
    font-family: var(--font-androi);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 10px;
    font-weight: normal;
}

aside>ul{
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
    

}
aside h3{
    background-color: var(--cor4);
    padding: 10px;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}



footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}